<?xml version="1.0" encoding="Windows-1252"?>
<registry>
	<db>
		<ConnectionString type="string">Data Source=localhost;User ID=sa;Password=enc/x7XissLoF/yvcL/cJHg8syKJQLsXVGtjOzuO0atn3RU=;Initial Catalog=MY;|sqlclient|memory</ConnectionString>
		<DbLoadOnlyVBTables type="bool">false</DbLoadOnlyVBTables>
		<CheckSystemAccount type="bool">true</CheckSystemAccount>
		<EnableFullText type="bool">true</EnableFullText>
	</db>
	<runtime>
		<DllPathOverride type="string" />
		<DllPathOverrideDebug type="string">{root}\website\cod</DllPathOverrideDebug>
		<ServerId type="string">E68EEE8DF5CD4ECB9C900G27D879AD31</ServerId>
		<DisableScheduler type="bool">true</DisableScheduler>
		<TempDir type="string">{root}\website\download</TempDir>
		<ajax type="bool">true</ajax>
		<DetailedException type="bool">true</DetailedException>
		<RemoteAdministrator type="string">71E50915F904035E848F5DEF2A7A09A4</RemoteAdministrator>
		<LogFile type="string">{root}\log.txt</LogFile>
		<EnableUniversalVersioning type="bool">true</EnableUniversalVersioning>
		<InstallDllInGac type="bool">true</InstallDllInGac>
		<LogSql type="bool">true</LogSql>
	</runtime>
	<mail>
		<SmtpServer type="string">mail.efront.fr</SmtpServer>
		<PopServer type="string">mail.efront.fr</PopServer>
	</mail>
	<frontpc>
		<FrontPcMode type="bool">false</FrontPcMode>
		<ConvertFlags type="int">24834</ConvertFlags>
		<Language type="int">70</Language>
		<ShowToolbar type="bool">true</ShowToolbar>
		<ShowLog type="bool">true</ShowLog>
		<ScreenRect type="string">110,110,1200,882</ScreenRect>
		<WindowState type="int">0</WindowState>
		<Cassini type="bool">true</Cassini>
	</frontpc>
	<iis>
		<WebSitePath type="string">{root}\website</WebSitePath>
		<WebSiteUrl type="string">http://efront-0-00161</WebSiteUrl>
		<WebSiteUrlSecured type="string">http://efront-0-00161</WebSiteUrlSecured>
		<InstallFilter type="bool">false</InstallFilter>
		<IISAdminFailureActions type="string">86400||isreset.exe" /fail=%1%|3|3,1|3,1|3,1</IISAdminFailureActions>
		<W3SVCFailureActions type="string">86400|||3|1,1|1,1|1,1</W3SVCFailureActions>
		<Iis7 type="bool">true</Iis7>
		<WebSiteName type="string">eFront</WebSiteName>
		<UseIIS7API type="bool">true</UseIIS7API>
	</iis>
	<FrontStudio>
		<RemoteAdminMode type="bool">false</RemoteAdminMode>
		<Database type="string">Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\officedb\lodhV1.mdb;|access|memory</Database>
		<User type="string">FRONTERM</User>
		<Password type="string">ADMIN1</Password>
		<WebSite type="string">{root}\website</WebSite>
		<DllPathOverrideDebug type="string">{root}\website\cod</DllPathOverrideDebug>
		<DllPathOverride type="string">{root}\website\cod</DllPathOverride>
		<ReferencePathDebug type="string">{root}\website\bin</ReferencePathDebug>
		<ReferencePath type="string">{root}\website\bin</ReferencePath>
		<Debug type="bool">true</Debug>
		<CurrentFolder type="string" />
		<ShowToolbar type="bool">true</ShowToolbar>
		<ShowLog type="bool">true</ShowLog>
		<FrontPCScreenRect type="string">-1141,28,895,673</FrontPCScreenRect>
		<FrontPCWindowState type="int">2</FrontPCWindowState>
		<TableDefSplit type="int">17</TableDefSplit>
		<FolderSplit type="int">21</FolderSplit>
		<SkipCheckDatabaseModel type="bool">false</SkipCheckDatabaseModel>
		<ExpandedOptions type="string">0,1,2,3,4,5</ExpandedOptions>
		<SubSolution type="string">C:\frontnet\srcefront\efront.sln</SubSolution>
		<ProjectPrefixes type="string">admdynamicdesk,admin,admintables,admlib,admworkflow,admworkflow2,dyno,gui,hr,hremployee,hrtables,psa,psaclient,psaemployee,psafinance,psamarketing,psaoffice,psaopportunity,psaproject,psasupport,psatables,sfa,sfaaccount,sfaactivity,sfaappoint,sfacontact,sfaemail,sfaimports,sfareports,sfatables,sfatask,vbstandard,pltables,planning,remoteadmin</ProjectPrefixes>
		<FrontPCLogSize type="int">12</FrontPCLogSize>
		<UserControlSplit type="int">25</UserControlSplit>
		<SplitterDistance type="int">457</SplitterDistance>
		<PanelsHeight type="int">246</PanelsHeight>
		<ExecutionParameters>
			<Current type="string">{param.name}</Current>
			<Set0>
				<Name type="string">{param.name}</Name>
				<Folder type="string" />
				<User type="string">{param.login}</User>
				<Password type="string">{param.password}</Password>
				<Properties type="string" />
				<Database type="string">{param.connectionString}</Database>
				<Visible type="bool">true</Visible>
			</Set0>
		</ExecutionParameters>
	</FrontStudio>
	<auth>
		<sspi_packages type="string">NTLM</sspi_packages>
	</auth>
	<FrontAdmin>
		<ExpandedSettings type="string">0,1,2,3,4,5,6,7,8,9</ExpandedSettings>
		<ConnectionStrings type="string">Data Source=localhost;User ID=sa;Password=enc/x7XissLoF/yvcL/cJHg8syKJQLsXVGtjOzuO0atn3RU=;Initial Catalog=MY;|sqlclient|memory
Data Source=ermsql1-rs;User ID=rsk60s;Password=enc/l0V2vp//pkypjcqA+ZivUg==;Initial Catalog=rsk60s;|sqlclient|memory
Data Source=ermsql1-rs;User ID=rsk60s-hm;Password=enc/sPPcOpXjIew3C8rVRYILWfBf7v81eju8mXTUl8FTnT8=;Initial Catalog=rsk60s-hm;|sqlclient|memory
Data Source=localhost;User ID=sa;Password=enc/x7XissLoF/yvcL/cJHg8syKJQLsXVGtjOzuO0atn3RU=;Initial Catalog=rsk60s-demo;|sqlclient|memory
Data Source=heze.frontlabs.com;User ID=rsk60s;Password=enc/l0V2vp//pkypjcqA+ZivUg==;Initial Catalog=rsk60s;|sqlclient|memory
Data Source=heze;User ID=rsk60s-hm;Password=enc/sPPcOpXjIew3C8rVRYILWfBf7v81eju8mXTUl8FTnT8=;Initial Catalog=rsk60s-hm;|sqlclient|memory
Data Source=io;User ID=admin;Password=enc/rATp9fENRtm7GB61wF2SXA==;Initial Catalog=demogrc;|sqlclient|memory</ConnectionStrings>
		<ScreenRect type="string">358,5,1417,1032</ScreenRect>
		<WindowState type="int">0</WindowState>
		<SqlPos.X type="int">0</SqlPos.X>
		<SqlPos.Y type="int">0</SqlPos.Y>
		<SqlPos.Width type="int">1940</SqlPos.Width>
		<SqlPos.Height type="int">1100</SqlPos.Height>
		<SqlPadMaxRows type="string">2000</SqlPadMaxRows>
		<Database type="string">Data Source=ORADB11G;User ID=RSK60O11G;Password=enc/1SNA+b1k3uE/rwTXNyF9tFap+cOLt3Pg5k0cRqMpuDM=;|oracleclient|memory</Database>
		<LogSql type="bool">true</LogSql>
		<ImExSource type="string">Data Source=efront-0-00161.frontlabs.com;User ID=sa;Password=enc/x7XissLoF/yvcL/cJHg8syKJQLsXVGtjOzuO0atn3RU=;Initial Catalog=erm10s;|sqlclient|memory</ImExSource>
		<ImExDestination type="string">Data Source=efront-0-00161.frontlabs.com;User ID=sa;Password=enc/x7XissLoF/yvcL/cJHg8syKJQLsXVGtjOzuO0atn3RU=;Initial Catalog=erm10s;|sqlclient|memory</ImExDestination>
		<ImExBulkInsertPath type="string">\\efront-0-00161.frontlabs.com\c\BulkIns</ImExBulkInsertPath>
		<selectdir type="string">C:\officedb</selectdir>
		<LogFile type="string">{root}\FrontAdmin.log</LogFile>
	</FrontAdmin>
	<oracle>
		<DisableAnsiJoins type="bool">true</DisableAnsiJoins>
	</oracle>
	<qServerService>
		<qServerServiceUrls type="string">http://localhost:1276/qserver.svc</qServerServiceUrls>
	</qServerService>
	<SearchProvider>
		<SearchProvider type="string">Lucene</SearchProvider>
	</SearchProvider>
	<frontcube>
		<FSPath type="string">{root}\website\FrontCube</FSPath>
		<DefaultCubesDataPath type="string">{root}\website\FrontCube\CubeData</DefaultCubesDataPath>
		<LogFile type="string">{root}\log\frontcube_{{1:yyyy_MM_dd}}.log</LogFile>
	</frontcube>
</registry>
